<div>
    <div class="box">
        <h1> CONVERSOR DE MOEDAS </h1>
        <div class="entradas">
        <input type="number" name="valor1" class="input">
        <input type="number" name="valor2" class="input"><br><br>
         </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
            <label class="form-check-label" for="flexRadioDefault1">
              Real para Dólar
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              Dólar para Real
            </label>
          </div>

        <input type="number" name="resultado" class="resultado">
    </div>

</div>
