<div>
    <div class="box">
        <h1> CONVERSOR DE MOEDAS </h1>
       
        <label class="titulo1"> Valor a ser convertido: </label>
        <label class="titulo2"> Valor do cambio: </label>

        <div class="entradas">
        <input type="number" name="valor" [(ngModel)]="valor" class="input">
        <input type="number" name="cambio" [(ngModel)]="cambio" class="input"><br><br>
         </div>

         <div class="bottons">
         <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked (click)="Real_Dolar()">
            <label class="btn btn-outline-primary" for="btnradio1">Real para Dólar</label>
            <br>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"  (click)="Real_Euro()">
            <label class="btn btn-outline-primary" for="btnradio2">Real para Euro</label>
            <br>
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="Real_PesoA()">
            <label class="btn btn-outline-primary" for="btnradio3">Real para Peso Argentino</label>
        
          </div>
          </div>
         
          <br><br>
          <label class="titulo3">Resultado da conversão</label><br>
          <div class="result">
          <input [value]= "resultado" id="resultado" class="resultado" readonly>
          </div>
    
        
    </div>

</div>
